.all-button{
  text-decoration: none;
  background-color: #095fff;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px;
}

.sec-gapp{
  margin-bottom: 100px;
}

.all-button:hover{
  color: white;
}

.all-border li{
  border: none;
  
}

.main-border div{
  border-radius: 20px;
}
