.all-button{
  text-decoration: none;
  background-color: #000000;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border:none;
  padding: 10px;
  width: 140px;
}

.all-button:hover{
  color: white;
}